div > *:nth-child(1) { background-color: yellow; }
div > *:nth-child(2) { background-color: orange; }
div > *:nth-child(3) { background-color: red; }
div > *:nth-child(4) { background-color: brown; }

div.inline > * {
    display: inline;
}
div.block > * {
    display: block;
}
div.inline-block > * {
    display:inline-block;
    width: 200px;
}
.none {
    display: none;
}
.hidden {
    visibility: hidden;
}
.opacity {
    opacity: 0.5;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grow {
    flex-grow: 1;
}
