p {
    color: burlywood;
    background-color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
span {
    color: darkorange;
    background-color: rgb(217, 20, 20);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-decoration: underline;
}
ul  {
    color: darkolivegreen;
    background-color: rgb(210, 63, 26);
    font-family: 'Georgia', serif;
    font-size: 1em;
    font-weight: lighter;
    font-style: normal;
    list-style-type: upper-roman;
}

body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 5px outset black;
    background-color: rgb(182, 143, 14);
}
h1 {margin-bottom:20px}
h2 {margin-top:30px}